#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.
#route '/static/*/' do
  # /static/foo.html/ → /foo.html
#  item.identifier[7..-2] + '.' + item[:extension]
#end

#compile '/static/*/' do
# don't do anything with static content
#end

preprocess do
  copy_static
  create_tag_pages
end

compile '/stylesheet/' do
  # don't filter or layout
end

#blog feed
compile '/rants/feed/' do
  filter :erb
end

route '/rants/feed/' do
  '/rants/feed.xml'
end

# default compile rule
compile '*' do
    if item[:extension] == 'md'
        filter :kramdown
    else
        filter :erb
    end
    layout 'default'
end

route '/stylesheet/' do
  '/style.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
