--- 
title: Travels
nav: true
navindex: 90
abstract: records of my travels - envy my pictures!
---

I recently (re)discovered my love for traveling, I guess I have to thank acida for that...
However - I try to spend some time abroad at least once a year, so here are a few pictures:
<br/>

<% @item.children.each do |c| %>
   <%= c[:title] %>
<% end %>

<br/>
<br/>



<script type="text/javascript">
  
  $(document).ready(function() {
    var albumID = "5418565880143347489";
    $.getJSON("https://picasaweb.google.com/data/feed/api/user/nightspawn.com/albumid/" + albumID + "?kind=photo&access=public&alt=json&thumbsize=220c",
      function(data){
        for (var i = 0; i < data.feed.entry.length; i++) {
          var pic = data.feed.entry[i];

          var img = $("<img/>");
          img.attr("class", "picasaimg");
          img.attr("alt", pic.summary.$t);
          img.attr("src", pic.media$group.media$thumbnail[0].url);

          var a = $("<a/>");
          a.attr("href", pic.media$group.media$content[0].url);
          a.attr("class", "gallerylink");
          a.attr("rel", "picasa_" + albumID);
          a.attr("alt", pic.summary.$t);
          a.append(img);
          a.appendTo("#picasaStream");
        }
      });
  });
</script>

<div id="picasaStream"></div>
