--- 
title: snapshots
navindex: 20
abstract: ...not as in maven...
---

I sometimes use my phone to take pictures of stuff if think is funny or interesting.
Turns out <a href="http://twitpic.com">twitpic</a> has an <a href="http://dev.twitpic.com/">api</a>:

<div class="twitpicstream" data-user="pneis"/>



