--- 
title: snapshots
navindex: 20
abstract: ...not as in maven...
---

I sometimes use my phone to take pictures of stuff if think is funny or interesting.
Turns out <a href="http://twitpic.com">twitpic</a> has an <a href="http://dev.twitpic.com/">api</a>, so I
added twitpic support to <%= link_to('jQGallery', '/tinkerings/jQGallery/') %>...

<div class="twitpicstream" data-userid="pneis"/>



