---
---
<div id="sidebar" class="box">
  <!-- twitter widget -->
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 6,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#607890',
        color: '#cfcfcf'
      },
      tweets: {
        background: '#cfcfcf',
        color: '#607890',
        links: '#003366'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      behavior: 'all'
    }
  }).render().setUser('pneis').start();
  </script>
  <!-- end twitter widget -->
  <h3>&rarr; profiles</h3>
  <div id="links">
    <ul>
      <li><a href="https://github.com/nsn/">Github - nsn</a> </li>
      <li><a href="https://twitter.com/#!/pneis">Twitter - @pneis</a> </li>
      <li><a href="http://stackoverflow.com/users/263698/nsn">stackoverflow - nsn</a> </li>
    </ul>
  </div>
  <!-- latest blog posts -->
  <div id="blogposts">
    <h3>&rarr; latest blog posts</h3>
    <ul>
      <% 
         sorted_articles.slice(0..2).each do |a|
      %>
        <li>
          <%= link_to(a[:title], a.reps[0].path) %>
        </li>
      <%end%>
      <li>
        <a href="/rants/feed.xml"><img src="/images/feed.png"> RSS feed</a>
      </li>
    </ul>
  </div>
</div>
