<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css.css" type="text/css" media="screen" />

    <script src="/js/libs/modernizr-1.7.min.js"></script>
  </head>
  <body>
    <div id="content" style="background-image: url(/images/<%= 'background.jpg' %>)">
      <header>
        <nav class="box">
          <ul>
          <% 
             navItems = @site.items.find_all{ |itm| itm[:nav] }.sort_by{ |itm| itm[:navindex] }
             navItems.each do |i| 
          %>
            <li>
            <% if i[:nav] %>
             <%= link_to(i[:title], i.reps[0].path) %>
            <% end %>
            </li>
          <%end%>
          </ul>
        </nav>
      </header>
  
      <%
        # render aside?
        renderAside = (item.children.length > 0) && !item[:hideaside]
        # article width
        width = "wide"
      %>

      <% if renderAside %>
        <aside class="box">
          <ul>
          <% @item.children.find_all{ |itm| !itm[:hidden]}.each do |c|  %>
            <li>
              <%= link_to(c[:title], c.reps[0].path) %>
            </li>
          <%end%>
          <li>
        </aside>
        <% width = "narrow" %>
      <% end %>

      <% if !item[:hidearticle] %>
        
        <article class="box <%= width %>">
          <%= link_to("&larr; back to " + item.parent[:title], item.parent.reps[0].path, :class => "backLink") %> 
          <br class="clearfix"/>
          <%= yield %>
          <% if item[:kind] == "article" %>
            <% 
              @item[:tags].each do |t|
              end
            %>
            <div class="blogarticlefooter">
              authored by nsn on <%= Time.parse(item[:created_at]).strftime("%Y-%d-%m") %>
              tags: <%= @item[:tags].nil? ? '' : @item[:tags].join(', ') %>
            </div>
          <% end %>
        </article>

        <div id="sidebar" class="box">
        <!-- twitter widget -->
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 6,
          interval: 30000,
          width: 'auto',
          height: 300,
          theme: {
            shell: {
              background: '#607890',
              color: '#cfcfcf'
            },
            tweets: {
              background: '#cfcfcf',
              color: '#607890',
              links: '#003366'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            behavior: 'all'
          }
        }).render().setUser('pneis').start();
        </script>
          <!-- end twitter widget -->
          <h3>&rarr; profiles</h3>
          <div id="links">
            <ul>
              <li><a href="https://github.com/nsn/">Github - nsn</a> </li>
              <li><a href="https://twitter.com/#!/pneis">Twitter - @pneis</a> </li>
              <li><a href="http://stackoverflow.com/users/263698/nsn">stackoverflow - nsn</a> </li>
            </ul>
          </div>
          <!-- latest blog posts -->
          <div id="blogposts">
            <h3>&rarr; latest blog posts</h3>
            <ul>
              <% 
                 sorted_articles.slice(0..2).each do |a|
              %>
                <li>
                  <%= link_to(a[:title], a.reps[0].path) %>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <footer>
      Copyright © 2011 NightSpawN | powered by <a href="http://nanoc.stoneship.org/">nanoc</a>, <a href="http://jquery.com/">jQuery</a> and <a href="http://fancybox.net/">fancybox</a>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>
